{% extends "base.html" %}
{% load i18n %}
{% block title %}Invoice-done{% endblock %}
{% block page-id %}Add-invoice{% endblock %}
{% block content %}
    <ul id="menu">
        <li ><a href="{% url dashboard %}">resumé</a></li>
        <li ><a href="{% url add_invoice %}">add-invoice</a></li>
    </ul>
      <div id="logo">
        <span>{% include "_bienvenu_utilisateur.html" %}</span>
        </div>
            <div id="menu">
        </div>
    </div>
    <div>
        <h1><center> doest not exist </center></h1>
    </div>
{% endblock %}
